.new-expense {
	background-image: linear-gradient(to bottom, #b4c4d5, #2f393d);
	background-size: cover;
	padding: 1rem;
	margin: 2rem auto;
	width: 50rem;
	max-width: 95%;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
	font: inherit;
	cursor: pointer;
	padding: 1rem 2rem;
	border: 1px solid #d78024;
	background-color: #d78024;
	color: white;
	border-radius: 8px;
	margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
	background-color: #d78024d8;
	border-color: #ffffff;
	transform: translateY(-2px);
}

.new-expense button.alternative {
	color: #220131;
	border-color: transparent;
	background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
	background-color: #d78024d8;
}
